* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Roboto, sans-serif;
  background-color: #fcec00;
}

a {
  text-decoration: none;
  color: #000;
  transition: color .2s linear;
}

a:hover {
  color: #fff;
}

h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 20px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
}

.sidebar__logo img {
  max-width: 200px;
  display: block;
}

.sidebar__menu-list {
  list-style: none;
}

.sidebar__menu-item {
  transition: transform .2s linear;
}

.sidebar__menu-item a {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.6;
  text-transform: uppercase;
}

.sidebar__menu-item:hover {
  transform: translateX(2%);
}

.sidebar__contact {
  font-size: 24px;
  font-weight: 900;
}

.sidebar__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.sidebar__social-item {
  padding-top: 10px;
  margin: 5px;
  font-size: 18px;
}

.content {
  padding-left: 300px;
}

.header {
  position: relative;
  min-height: 700px;
}

.header__svg {
  position: absolute;
  top: -120px;
  z-index: 0;
}

.header__girl {
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 1;
}

.header__title {
  position: absolute;
  top: 230px;
  right: 100px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
}

.header__white {
  font-style: normal;
  color: #fff;
}

.about {
  position: relative;
  padding-right: 50px;
}

.about__svg {
  position: absolute;
  top: 140px;
  right: 0;
  z-index: 0;
}

.about__block {
  display: flex;
  position: relative;
}

.about__item {
  display: flex;
  padding: 20px 80px 20px 0;
}

.about__num {
  font-size: 64px;
  font-weight: 900;
  padding-right: 40px;
}

.about__text {
  font-size: 18px;
}

.title {
  position: relative;
  padding: 30px 0;
}

.title:after {
  content: '';
  position: absolute;
  left: 0;
  top: 80px;
  width: 120px;
  height: 5px;
  background-color: #fff;
}

.price {
  position: relative;
  padding-right: 40px;
}

.price__table {
  display: flex;
}

.price__item {
  padding: 40px 60px;
  background-color: #e7da22;
  border-radius: 15px;
  transition: transform .2s linear;
}

.price__item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.price__item--general {
  padding: 60px 80px;
  background-color: #000;
  color: #fff;
}

.price__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}

.price__description {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #9b942f;
}

.price__value {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding-top: 10px;
}

.price__coast {
  font-size: 30px;
  font-weight: 900;
}

.price__text {
  font-style: italic;
  font-weight: 500;
}

.price__hint {
  font-size: 16px;
}
