* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Roboto, sans-serif;
  background-color: #fcec00;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
}

.sidebar__menu-list {
  list-style: none;
}

.sidebar__menu-item a {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.6;
  text-decoration: none;
  text-transform: uppercase;
}
