.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  z-index: 2;

  @include md {
    display: flex;
  };

  @include lg {
    width: 300px;
  }

  &__logo {

    & img {
      max-width: 160px;
      display: block;

      @include lg {
        max-width: 200px;
      };
    }
  }

  &__menu {

    &-list {
      list-style: none;
    }

    &-item {
      transition: transform .2s linear;
      & a {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.6;
        text-transform: uppercase;

        @include lg {
          font-size: 24px
        };
      }

      &:hover {
        transform: translateX(2%);
      }
    }
  }

  &__contact {
    font-size: 24px;
    font-weight: 900;
  }

  &__social-list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__social-item {
    padding-top: 10px;
    margin: 5px;
    font-size: 18px;
  }
}
