.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;

  &__logo {

    & img {
      max-width: 200px;
      display: block;
    }
  }

  &__menu {

    &-list {
      list-style: none;
    }

    &-item {

      & a {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.6;
        text-transform: uppercase;
      }
    }
  }

  &__contact {
    font-size: 24px;
    font-weight: 900;
  }

  &__social-list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__social-item {
    padding-top: 10px;
    margin: 5px;
    font-size: 18px;
  }
}
